src/main/resources/wsdl/BPELPinkSlipService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pinkslip.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BPELPinkSlipService" targetNamespace="http://pinkslip.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pinkslip.soacourse.unsw.edu.au">
    
      <xsd:element name="PSCheckRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastName" nillable="false" type="xsd:string"/>
            <xsd:element name="FirstName" nillable="false" type="xsd:string"/>
            <xsd:element name="RegoNumber" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="PSCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastName" nillable="false" type="xsd:string"/>
            <xsd:element name="FirstName" nillable="false" type="xsd:string"/>
            <xsd:element name="RegoNumber" nillable="false" type="xsd:string"/>
            <xsd:element name="CheckedFlag" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="PSCheckFault" type="tns:serviceFaultType"></xsd:element>
      
      <xsd:element name="VehicleAgeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastName" nillable="false" type="xsd:string"/>
            <xsd:element name="FirstName" nillable="false" type="xsd:string"/>
            <xsd:element name="RegoNumber" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="VehicleAgeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Age" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="VehicleAgeFault" type="tns:serviceFaultType"></xsd:element>
      
      <xsd:complexType name="serviceFaultType">
				<xsd:sequence>
				  <xsd:element name="errcode" type="xsd:string"></xsd:element>
			  	<xsd:element name="errtext" type="xsd:string"></xsd:element>
				</xsd:sequence>
	  	</xsd:complexType>
	  	
    </xsd:schema>
  </wsdl:types>
    
  <wsdl:message name="PSCheckRequestMsg">
    <wsdl:part element="tns:PSCheckRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PSCheckResponseMsg">
    <wsdl:part element="tns:PSCheckResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PSCheckFaultMsg">
    <wsdl:part element="tns:PSCheckFault" name="parameters"/>
  </wsdl:message>
    
  <wsdl:message name="VehicleAgeRequestMsg">
    <wsdl:part element="tns:VehicleAgeRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VehicleAgeResponseMsg">
    <wsdl:part element="tns:VehicleAgeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VehicleAgeFaultMsg">
    <wsdl:part element="tns:VehicleAgeFault" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="BPELPinkSlipService">
    <wsdl:operation name="PSCheck">
      <wsdl:input message="tns:PSCheckRequestMsg"/>
      <wsdl:output message="tns:PSCheckResponseMsg"/>
      <wsdl:fault name="checkFault" message="tns:PSCheckFaultMsg"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VehicleAge">
      <wsdl:input message="tns:VehicleAgeRequestMsg"/>
      <wsdl:output message="tns:VehicleAgeResponseMsg"/>
      <wsdl:fault name="ageFault" message="tns:VehicleAgeFaultMsg"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
    
  <wsdl:binding name="BPELPinkSlipServiceSOAP" type="tns:BPELPinkSlipService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PSCheck">
      <soap:operation soapAction="http://pinkslip.soacourse.unsw.edu.au/PSCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="checkFault">
      	<soap:fault name="checkFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
     
    <wsdl:operation name="VehicleAge">
      <soap:operation soapAction="http://pinkslip.soacourse.unsw.edu.au/VehicleAge"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ageFault">
      	<soap:fault name="ageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
    
  <wsdl:service name="BPELPinkSlipService">
    <wsdl:port binding="tns:BPELPinkSlipServiceSOAP" name="BPELPinkSlipServiceSOAP">
      <soap:address location="http://localhost:8080/BPELProcessService/BPELPinkSlipService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
