src/main/resources/wsdl/BPELGreenSlipService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://greenslip.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BPELGreenSlipService" targetNamespace="http://greenslip.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://greenslip.soacourse.unsw.edu.au">
    
      <xsd:element name="GSCheckRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastName" nillable="false" type="xsd:string"/>
            <xsd:element name="FirstName" nillable="false" type="xsd:string"/>
            <xsd:element name="RegoNumber" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GSCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LastName" nillable="false" type="xsd:string"/>
            <xsd:element name="FirstName" nillable="false" type="xsd:string"/>
            <xsd:element name="RegoNumber" nillable="false" type="xsd:string"/>
            <xsd:element name="PaidFlag" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GSCheckFault" type="tns:serviceFaultType"></xsd:element>
      
      <xsd:complexType name="serviceFaultType">
				<xsd:sequence>
				  <xsd:element name="errcode" type="xsd:string"></xsd:element>
			  	<xsd:element name="errtext" type="xsd:string"></xsd:element>
				</xsd:sequence>
	  	</xsd:complexType>
	  	
    </xsd:schema>
  </wsdl:types>
    
  <wsdl:message name="GSCheckRequestMsg">
    <wsdl:part element="tns:GSCheckRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GSCheckResponseMsg">
    <wsdl:part element="tns:GSCheckResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GSCheckFaultMsg">
    <wsdl:part element="tns:GSCheckFault" name="parameters"/>
  </wsdl:message>
    
  <wsdl:portType name="BPELGreenSlipService">
    <wsdl:operation name="GSCheck">
      <wsdl:input message="tns:GSCheckRequestMsg"/>
      <wsdl:output message="tns:GSCheckResponseMsg"/>
      <wsdl:fault name="checkFault" message="tns:GSCheckFaultMsg"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
    
  <wsdl:binding name="BPELGreenSlipServiceSOAP" type="tns:BPELGreenSlipService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GSCheck">
      <soap:operation soapAction="http://greenslip.soacourse.unsw.edu.au/GSCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="checkFault">
      	<soap:fault name="checkFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
    
  <wsdl:service name="BPELGreenSlipService">
    <wsdl:port binding="tns:BPELGreenSlipServiceSOAP" name="BPELGreenSlipServiceSOAP">
      <soap:address location="http://localhost:8080/BPELProcessService/BPELGreenSlipService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
